       body { 
background-color:#FFFAFA;
margin: 0 20%;
border: 1px dotted #FFFAFA; 
padding: 10px; 
font-family: sans-serif; 
font-style: oblique;
      }

       h2
        {text-decoration: underline;}
 
 
 h1, h2 {
            font-family: sans-serif;
            color: black;
               }

        h1 {
            border-bottom: 1px solid black;
        }

        p {
            color: maroon;
        }

