  body {background-color:#FFFAFA;
        margin: 0 20%; 
        border: 1px dotted #FFFAFA; 
        padding: 10px; 
        font-family: sans-serif;
        font-size: 14px;
        font-style: oblique;
    }
 
 h1 {font-size: 21px;}
 h2 {font-size: 17px;}
h2  {text-decoration: underline;}
 h1, h2 {

            font-weight: normal;
            font-family: sans-serif;
            color: #A0522D;
               }

               h1 {
                border-bottom: 1px solid black;
               }

        p {
            color: maroon;
        }
         em {
            font-family: serif;
         }

        #guarantee {
            line-height: 1.9em;
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
            color: 444444;
            border-color: #FFFAFA; /*Цвет рамки границ*/
            border-width: 1px;     /*Толщина рамки*/
            border-style: dashed;
            background-color: #a7cece;
            padding: 25px;   /*отступ границ от контента в рамке*/
            padding-left: 80px;
            margin: 30px;
            margin-right: 250px;
            background-image: url(imagin/noroot.png);
            background-repeat: no-repeat; /*фоновое изоброжение не повторяется*/
            background-position: top left; /*Фоновое изображение с левой стороны*/
        } 
       
        #vnimanie {
      font-size: 50%;
      text-align: center;
      line-height: normal;
      margin-top: 30px;
     }

     .cd 
     {
        font-style: italic;
        
     }

     .artist 
     {
        font-weight: bold;
        

     }

     #ttt a:link {
        color: #007e7e;
     }

      #ttt a:visited {
        color: #333333;
     }
       #ttt a:hover {
        background:#f88396;
        color: #0d5353;
       }
